In [2]:
import pandas as pd

#Reading the time series data of the index 'United Bank Of India EOD Prices'.
index = pd.read_csv("../data/raw/BSE-BOM533171.csv")
index.head(15)

index = pd.read_csv("../data/raw/BSE-BOM533171.csv")
reliance = pd.read_csv("../data/raw/RELIANCE.NS.csv")
tata = pd.read_csv("../data/raw/TATAMOTORS.BO.csv")
piramal = pd.read_csv("../data/raw/PEL.NS.csv")
sbi = pd.read_csv("../data/raw/SBIN.NS.csv")
hul = pd.read_csv("../data/raw/HINDUNILVR.NS.csv")

df = pd.concat([index, reliance, tata, piramal, sbi, hul], axis=0)

# axis=0 specifies that the concatenation should be done vertically (row-wise)
# If the dataframes have the same column names, they will be aligned automatically
# If the dataframes have different column names, NaN values will be filled for missing columns

# Reset the index of the concatenated dataframe
df = df.reset_index(drop=True)
df

,Date,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O,Adj Close,Volume
0,2020-03-20,4.500000,4.700000,4.450000,4.480000,4.54,36365.0,138.0,164933.0,23399.0,64.34,0.25,-0.02,NaN,NaN
1,2020-03-19,4.550000,4.670000,4.150000,4.500000,4.43,65020.0,157.0,287846.0,52240.0,80.34,0.52,-0.05,NaN,NaN
2,2020-03-18,4.740000,4.750000,4.390000,4.430000,4.52,70379.0,181.0,317957.0,41391.0,58.81,0.36,-0.31,NaN,NaN
3,2020-03-17,4.650000,4.860000,4.610000,4.640000,4.70,101580.0,216.0,477066.0,59949.0,59.02,0.25,-0.01,NaN,NaN
4,2020-03-16,4.810000,4.880000,4.550000,4.660000,4.70,95396.0,199.0,448478.0,71454.0,74.90,0.33,-0.15,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14844,2020-03-13,1970.000000,2120.000000,1888.099976,2033.199951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1908.373901,3667035.0
14845,2020-03-16,2000.000000,2039.199951,1933.900024,1941.900024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1822.679443,2948679.0
14846,2020-03-17,1955.550049,2088.000000,1951.949951,2004.050049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1881.013672,3732382.0
14847,2020-03-18,2034.050049,2063.800049,1909.349976,1923.800049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1805.690430,3910994.0
14848,2020-03-19,1894.300049,1899.000000,1757.300049,1838.300049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1725.439697,5095006.0

In [ ]:
nifty50 = pd.read_csv("../data/raw/^NSEI.csv")

#Auto sector
eicher = pd.read_csv("../data/raw/EICHERMOT.NS.csv")
tata = pd.read_csv("../data/raw/TATAMOTORS.NS.csv")
mahindra = pd.read_csv("../data/raw/M&M.NS.csv")
maruti = pd.read_csv("../data/raw/MARUTI.NS.csv")

# Pharma sector
piramal = pd.read_csv("../data/raw/PEL.NS.csv")
sun = pd.read_csv("../data/raw/SUNPHARMA.NS.csv")
reddy = pd.read_csv("../data/raw/RDY.csv")
apollo = pd.read_csv("../data/raw/APOLLOHOSP.NS.csv")

#Banking secotr
sbi = pd.read_csv("../data/raw/SBIN.NS.csv")
icici = pd.read_csv("../data/raw/ICICIBANK.NS.csv")
hdfc = pd.read_csv("../data/raw/SBIN.NS.csv")
bajaj = pd.read_csv("../data/raw/HDB.csv")

In [ ]:
stock_list = [index, reliance, tata, piramal, sbi, hul]
stock_list